<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.mapper.UserMapper">
    <delete id="delete" parameterType="java.util.List">
        DELETE FROM tb_user WHERE id IN
        <foreach item="id" collection="list" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <update id="update" parameterType="com.web.pojo.User">
        UPDATE tb_user
        SET
            username = #{username},
            password = #{password},
            role = #{role},
            gender = #{gender},
            email = #{email},
            phone = #{phone},
            updated_time = #{updatedTime}
        WHERE id = #{id};
    </update>
    <select id="list" parameterType="map" resultType="com.web.pojo.User">
        SELECT * FROM tb_user
        <where>
            <if test="username != null and username != ''">
                AND username LIKE CONCAT('%', #{username}, '%')
            </if>
            <if test="gender != null">
                AND gender = #{gender}
            </if>
            <if test="createdTime != null">
                AND created_time = #{createdTime}
            </if>
        </where>
    </select>
</mapper>
